@import "theme/theme";

.hk-textfield {
    @include hydrokit-component-base();
    @include hydrokit-theme-bright(true);

    font-size: 1rem;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid $hk-color-primary;
    border-radius: $hk-border-radius $hk-border-radius 0 0;
    outline: none;

    &:hover,
    &:focus {
        border-bottom: 1px solid darken($hk-color-primary, 10%);        
    }
}
