@import "@hydrokit/theme/theme";

.hk-textfield {
    &__native-control {
        @include hydrokit-component-base();
        @include hydrokit-theme-bright();
        
        padding: $hk-padding-component-big;
        box-sizing: border-box;
        font-size: 1rem;
        border: 0;
        border-radius: $hk-border-radius;
        outline: none;

        transition: background-color linear 0.2s;

        &:hover,
        &:focus {
            background-color: darken($hk-background-color, 2%);
        }
    }
}
