@import "@hydrokit/theme/theme";

.hk-formfield {
    $meta-font-size: 0.8rem;
    vertical-align: middle;

    &__hint,
    &__label {
        transition: color linear 0.2s;
        color: lighten($hk-text-color-on-background, 40%);
        font-size: $meta-font-size;
        margin-left: $hk-border-radius;

        @at-root .hk-formfield--focussed & {
            color: lighten($hk-text-color-on-background, 20%);            
        }
    }

    &__meta {
        margin-bottom: 0.1em;
    }

    &__error {
        margin-left: $hk-border-radius;        
        font-size: $meta-font-size;
        margin-top: 0.5em;
    }

    &--error {
        color: $hk-color-error;
    }

    & + & {
        margin-top: 1rem;        
    }
}