@import "theme/theme";

@mixin _hydrokit-button() {
    @include hydrokit-component-base();
    @include hydrokit-clickable();
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem;
}

@mixin hydrokit-button-base() {
    @include _hydrokit-button();
    @include hydrokit-theme-bright(true);
}

@mixin hydrokit-button-primary() {
    @include _hydrokit-button();
    @include hydrokit-theme-primary(true);
}