.showcase {
  position: relative;
  display: flex;
  margin-top: 10vh;
  
  &__title {
    font-size: 1.5rem;
    width: 20ch;
    margin-top: 0;
  }

  &__content {
    flex: 1;
  }

  @media (max-width: 500px) {
    display: block;
  }
}
